*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

$darkest: #2C2C2C;
$dark: #373737;
$light: #55DFD4;
$white: white; 


@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}

// Buttons

button{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 8px;
    transition: all 0.3s;
}
.transparent-btn{
    background-color: transparent;
    color: $light;
    font-size: 1rem;
    padding: 0;
}


.light-btn{
    background-color: $light;
    color: $dark;
}

.light-btn:hover{
    background-color: $darkest;
    color: $light;
}

// Spinner 

.spinner-container{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .spinner-text{
        margin-top: 1rem;
        color: white;
    }
}

.spinner-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 11px;
    width: 100%;
    font-size: 20px;
    background-color: $light;
    p{
        margin-left: 1rem;
    }
}

// Modals

.modal-container{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    @include flex-column();
    justify-content: center;
    align-items: center;
    .modal-window{
        width: 500px;
        background-color: $dark;
        padding: 30px;
        @include flex-column();
        input{
            margin-bottom: 1rem;
            padding: 0.4rem 0.8rem;
            font-size: 1rem;
        }
    }
}
@media(max-width: 800px){
    .modal-container .modal-window{
        min-width: 625px;
    }
}
@media(max-width: 625px){
    .modal-container .modal-window{
        width: 100%;
        min-width: 100%;
    }
}
.modal-title{
    font-size: 1.5rem;
    color: $white;
    margin-bottom: 1rem;
}

// Login/Signup 

.form-page{
    width: 100%;
    min-height: 100vh;
    background-image: url("@/assets/Background.png");
    //background-color: $darkest;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-page-block{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slogan-container{
        width: 600px;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 4rem;
            color: white;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .book-icon{
            color: $light;
        }
        h3{
            font-size: 1.9rem;
            color: $light;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
        .check-option{
            display: flex;
            flex-direction: row;
            font-size: 1.6rem;
            .check-light{
                margin-right: 1rem;
                color: $light;
            }
            p{
                color: #646464;
            }
        }
    }   

    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        background-color: $dark;
        padding: 3rem 2rem;
        .user-circle{
            color: $light;
            font-size: 6rem;
            margin-bottom: 1.5rem;
        }
        .form-title{
            color: $white;
            margin-bottom: 1.5rem;
            font-size: 2rem;
        }
        .auth-input{
            border: $white solid 2px;
            font-size: 1rem;
            padding: 10px 14px;
            background-color: $white;
            color: $darkest;
            outline: none;
            width: 100%;
            margin-bottom: 1rem;
        }
        .alt-action-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            margin-bottom: 1rem;
            color: $white;
            .text{
                margin-right: 0.5rem;
            }
            .alt-action-btn{
                font-size: 1.2rem;
                background-color: $darkest;
                color: $light;
            }
        }

        .confirm-btn{
            width: 100%;
            font-size: 1.3rem;
        }
        .password-reset-container{
            width: 100%;
            display: flex;
            justify-content: center;
            .reset-password-text{
                text-decoration: none;
                color: $white;
                transition-duration: 0.4s;
            }
            .reset-password-text:hover{
                color: $light;
            }
        }
    }
}

@media(max-width: 1400px){
    .form-page{
        .slogan-container, .form-container{
            width: 100%;
            margin: 4rem;
        }

    }
}

@media(max-width: 1250px){
    .form-page{
        flex-direction: column;
        .form-page-block{
            width: 75%;
        }
        .block-1{
            order: 2;
        }
        .block-2{
            order: 1;
        }
    }
}
@media(max-width: 900px){
    .form-page{
        flex-direction: column;
        .form-page-block{
            width: 100%;
        }
        .slogan-container, .form-container{
            margin: 2rem;
        }
    }
}
@media(max-width: 750px){
    .form-page{
        flex-direction: column;
        .slogan-container h1 {
            font-size: 2.5rem;
        }
        .slogan-container h3 {
            font-size: 1.5rem;
        }
        .slogan-container > .check-option{
            font-size: 1.3rem;
        }
        .slogan-container img{
            height: 10vh;
        }
    }
}
@media(max-width: 500px){
    .form-page{
        justify-content: start;
        align-items: center;
    }
    .form-page .form-container{
        margin: 0;
        .alt-action-container{
        margin-bottom: 1rem;
        .alt-action-btn{
            font-size: 1rem;
        }
    }
    }
}
@media(max-width: 400px){
    .form-page{
        flex-direction: column;
        .slogan-container h1 {
            font-size: 2.1rem;
        }
        .slogan-container h3 {
            font-size: 1.1rem;
        }
        .slogan-container > .check-option{
            font-size: 1rem;
        }
        .slogan-container img{
            height: 80px;
        }
    }
}

// ERROR MESSAGE
.error-message {
    width: 100%;
    background-color: rgb(177, 48, 48);
    color: $white;
    padding: 5px;
  }


/* Schedule, Notes, Assignments, Tests, Subjects */
.interface-title{
    margin-right: 0.2rem;
}
.interface-add-btn{
    padding: 0.4rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: $light;
}

.interface{

    /* Notes, Assignments, Tests, Schedule */

    background-color: $darkest;
    min-height: 83vh;
    display: flex;
    flex-direction: column;

    /* Notes */

    .notes-container{
        margin: 1rem;
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(4, 24%);
        justify-content: space-between;
    }

    /* Assignments, Tests */

    .mobile-navigator{
        padding: 0 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        button{
            background-color: $dark;
            color: $light;
            font-size: 0.9rem;
        }
        .selected-btn{
            background-color: $light;
            color: $darkest;
        }
    }

    .outer-container{
            display: flex;
            flex-direction: column;
            margin: 1rem;
            .inner-container{
                .top-row{
                    display: flex;
                    flex-direction: column;
                    h1{
                        font-size: 1.5rem;
                        color: $white;
                        margin-bottom: 0.3rem;
                    }
                    .line{
                        width: 100%;
                        background-color: $light;
                        height: 0.4rem;
                    }
                }
                .inner-box-container{
                        margin-top: 1rem;
                        display: grid;
                        grid-template-columns: repeat(4, 24%);
                        justify-content: space-between;
                }
            }
    }

    /* Notes, Assignments, Tests */

    .placeholder, .loader{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: $white;
    }
}

@media(max-width: 1280px){
    .interface{
        .notes-container{
            grid-template-columns: repeat(3, 32%);
        }
        .outer-container{
            .inner-container{
                .inner-box-container{
                    grid-template-columns: repeat(3, 32%);
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .interface{
        .notes-container{
            grid-template-columns: repeat(2, 49%);
        }
        .outer-container{
            .inner-container{
                .inner-box-container{
                    grid-template-columns: repeat(2, 49%);
                }
            }
        }
    }
}
@media(max-width: 665px){
    .interface{
        .notes-container{
            grid-template-columns: repeat(1, 100%);
        }
        .outer-container{
            .inner-container{
                .top-row{
                    display: none;
                }
                .inner-box-container{
                    grid-template-columns: repeat(1, 100%);
                }
            }
        }
    }
}

/* Notes, Assignments, Tests, Schedule */

.management-row{
  padding: 1rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  .left-side, .right-side{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .right-side{
      align-items: center;
      label{
        margin-right: 10px;
      }
  }
}

.right-side > button{
    background-color: transparent;
    color: $light;
}